---
import '../styles/main.scss';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html>

<Head />

<body>
  <div>
    <Header />
    <div>
      <div>Content</div>
      <div>Sidebar</div>
    </div>
    <div>Footer</div>
  </div>
</body>

</html>
